__pycache__/
dstt/
app/__pycache__/
app/tools/__pycache__/
app/static/calendar_outputs/*.pdf
app/tools/__pycache__/
.vscode
.vscode/
users.db
instance/
*.log
instance/users.db
app/shared_files/
shared_files/
app/static/leave_mgr/calendars/*
!app/static/leave_mgr/calendars/.gitkeep
app/static/leave_mgr/permissions.json
app/static/leave_mgr/calendar_meta.json
app/static/monthly_generator/uploads/*
!app/static/monthly_generator/uploads/.gitkeep
app/static/pluslist/uploads/*
!app/static/pluslist/uploads/.gitkeep
*.pyc
